<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>

<div class="container">
  <div class="row">

  <% for entry in @entries %>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <h3><%= entry["title"] %></h3>

    <% if entry.uploaded_image.attached? %>
      <%# use url_for(post.uploaded_image) as attached file's url %>
      <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
    <% else %>
      <%# otherwise display original image url from database column %>
      <img src="<%= entry["image"] %>" class="img-fluid">
    <% end %>

      <h4><%= entry["occurred_on"] %></h4>
      <p><%= entry["description"] %></p>
    </div>
  <% end %>
  </div>
</div>

<div class="mt-4">
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</div>

<div class="mt-4">
  <a href="/places">Back to All Places</a>
</div>